<link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v19.0" nonce="g0sP6r5A"></script>
<div class="containerModal" style="z-index:2000;">
    <div class="modal-header">
        <div class="container p-0">
            <div class="row">
                <h3 class="modal-title">{{ newsRecord.source }}</h3>
            </div>
            <div class="row">
                <p>{{newsRecord.dateString}}</p>
            </div>
        </div>
        <span aria-label="Close" (click)="activeModal.dismiss('Cross click')" style="text-decoration: underline; color: blue; cursor: pointer;">X</span>
    </div>
    <div class="modal-body">
        <h5>{{ newsRecord.headline }}!</h5>
        <p>{{ newsRecord.summary }}</p>
        <p>For more details click <a target="_blank" href={{newsRecord.url}}>here</a><p>
    </div>
    <div class="modal-footer">
        <div class="card col-12">
            <div class="card-body">
                <div class="row">Share</div>
                <br>
                <a data-size="large" target="_blank" href="https://twitter.com/intent/tweet?text={{newsRecord.headline}} {{newsRecord.url}}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="70" height="70"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
                </a>
                <a target="_blank" data-href="{{newsRecord.url}}" href="https://www.facebook.com/sharer/sharer.php?u={{newsRecord.url}}&amp;src=sdkpreparse" class="fb-share-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="70" height="70"><path fill="#0000f2" d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64h98.2V334.2H109.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H255V480H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"/></svg>
                </a>
            </div>
        </div>
    </div>
</div>